.custom-pagination {
    height: 0.625rem;
    @include df_ac_jcc;
    gap: 0.1875rem;
    margin-top: 1.5rem;
    .swiper-pagination-bullet {
        display: flex;
        background-color: #808080;
        border-radius: 0;
        margin: 0!important;
        height: 0.625rem;
        width: 0.625rem;
        border-radius: 50%;
        &.swiper-pagination-bullet-active {
            background-color: #EEE9E1;
        }
    }
}